@{
    ViewData["Title"] = "BugTrack";
}

<div class="text-center">
    <h1 class="display-4">Track Issues in Your Software with BugTrack</h1>
    <p>Learn more <a href="https://bugtrack.azurewebsites.net/"></a>.</p>
</div>

